* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  min-height: 100vh;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px 16px;
  max-width: 550px;
}

.heading {
  color: #cb8805;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.faqs-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}
